body {
  font-family: Georgia, serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
  margin-bottom: 30px;
}

p {
  line-height: 1.6;
}

ul {
  list-style-position: inside;
  padding: 0;
}
.cta {
  margin-top: 25px;
  padding: 14px 28px;
  font-size: 16px;
  font-family: Georgia, serif;
  background-color: #111;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cta:hover {
  background-color: #333;
}
